table {
  border-collapse: collapse;
  width: 600px;
}
  
tbody tr {
  border: 1px solid #eee;      
}

th, td {
  padding: 5px;
}

thead th {
  background: rgb(131, 131, 131);
  border: 1px solid rgb(131, 131, 131);      
  cursor: pointer;
}


#add-contact {
  margin: 5px 0 50px 0;
  cursor: pointer;
}

.App table {
  margin: 0 auto;
}

.App-logo {
  height: 40px;
}

.App-header {
  text-align: center;
  background-color: rgb(51, 193, 255);
  height: 95px;
  padding: 10px;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 5px #888888;
}

.App-intro {
  font-size: large;
}

.App-title {
  font-size: 1.5em;
  display: block;
  margin: 5px;
}

.contact-row {
  cursor: pointer;
}

.content {
  width: 600px;
  margin: 0 auto;
}

.sort-direction {
  display: inline-block;
  width: 10px;

}

.sort-direction.asc {
  display: inline-block;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.sort-direction.desc {
  display: inline-block;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  
}


