.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: rgb(51, 193, 255);
  height: 75px;
  padding: 10px;
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 5px #888888;
}

.App-title {
  font-size: 1.5em;
  display: block;
  margin: 5px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
